* {
	box-sizing: border-box;
}
body {
	background-color: #2a2a2a;
	font-family: Arial;
}

/* ============== Parte do Menu  ============== */
header nav.navbar {
    background-color: #ffeb00;
    font-size: 13pt;
}
/* Cor do nome NavBar */
header nav.navbar a#nomeNav {
	color: #2a2a2a;
}
/* Cor do mouse sobre o NavBar */
header nav.navbar a#nomeNav:hover {
	color: #5a5a5a;
	
}
/* Cor do mouse sobre os botoes */
header nav.navbar button {
	background-color: #2a2a2a;
}
header nav.navbar button span {
	background-color: #3a3a3a;
}
/* Alinhando os botoes */
header nav.navbar div#myNavbar {
	text-align: center;
}
/* Estilo dos Botoes, sem linha sublinhada e cor */
header nav.navbar div#myNavbar a.col {
	text-decoration:none;
	padding-bottom: 2%;
	color: #6a6a6a;
	border-radius: 5px;
}
/* Borda em volta dos botoes ao passar por cima  */
header nav.navbar div#myNavbar a.col:hover {
	background-color:#6a6a6a;
	color: #ffeb00;
	transition: 2s;
}
/* ================= Parte do Titulo ================== */
/* Cor ao background do Titulo */
div#titulo {
	background-color: #ffeb00;
	border-radius: 1px;
}
/* Estilo do H1 */
div#titulo h1 {
	color: #2a2a2a;
	font-weight: 400;
}
/* ================= Parte do Sobre ===================== */
/* Cor do fundo do sobre */
div#section1 {
	background-color: #2a2a2a;
}
/* Cor das Letras */
div#section1 div.row h2, p, h1 {
	color: white;
}
/* Cor e tamanho das estrelas - CONSERTAR!!!!!!*/
div#section1 div.row i.fa {
	font-size:15px;
	color: #ffeb00;
}

div#section1 div.row div.container-fluid {
	margin: 0 15% 0 15%;
}

/* Tamanho e cor dos Icones - CONSERTAR!!!!! */
div#section1 div.row i.fas {
	font-size:48px;
	color: #ffeb00;
}

div#section1 div.row h4, p {
	color: white;
}

/* ==============Parte do Curriculo================== */
/* Cor do background */
div#section2 {
	background-color: #3a3a3a;
	border-radius: 1px;
	
}
div#section2 h1{
	color: white;
}

div#section2 p {
	color: black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15pt;
}

/* Link do curriculo */
div#section2 a#curriculo{
	border-radius: 10px;
	background-color: #7a7a7a;
	padding: 0.2% 13% 0.2% 13%;
	color: white;
	transition:1s;
	text-decoration:none;
}

div#section2 a#curriculo:hover {
	color: #ffeb00;
	
}

/* Atual TimeLine (linha vertical) */
.timeline {
    position: relative;
	max-width: 1200px;
	margin: 0 auto;
}

/* Atual TimeLine (depois de diminuir tela) */
.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius:5px;
}

/* Contêiner em torno do conteúdo */
.container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
	margin-right: 50%;
	
}

/* Circulos na TimeLine */
.container::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 30px;
	right: -15px;
	background-color: #2a2a2a;
	border: 4px solid #ffeb00;
	top: 15px;
	border-radius: 50%;
	z-index: 1;
	
}

/* Mover o conteiner para esquerda */
.left {
	left: 0;
}

/* Mover o conteiner para direita */
.right {
	left: 50%;
}

/* Adicione setas ao contêiner esquerdo (apontando para a direita) */
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid white;
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent white;
}


/* Corrija o círculo para recipientes no lado direito */
.right::after {
	left: -16px;
}

/* O atual conteiner */
.content {
	padding: 20px 30px;
	background-color: white;
	position: relative;
	border-radius: 6px;
}

.content:hover {
	box-shadow: 5px 0px 40px rgba(255,235,0, .3);
	transition: 0.5s;
}

div.timeline p {
	color: black;
}

/* ==============Parte do Portifolio=============== */
div#section3 {
	background-color: #2a2a2a;
	border-radius: 1px;
}

div#section3 h1 {
	color: #6a6a6a;
}

div#section3 div.row-sm div.nature img {
	width:100%;
	max-width:300px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

div#section3 div.row-sm div.nature img:hover{
	opacity: 0.7;
}

div#section3 div.row-sm div.cars img {
	width:100%;
	max-width:300px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

div#section3 div.row-sm div.cars img:hover{
	opacity: 0.7;
}

div#section3 div.row-sm div.people img {
	width:100%;
	max-width:300px;
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

div#section3 div.row-sm div.people img:hover{
	opacity: 0.7;
}

/* Adiciona um padding entre CADA coluna */
div#section3 div.row-sm,
div#section3 div.row-sm > .column {
  padding: 8px;
}

/* Crie três colunas iguais que flutuam próximas uma da outra */
.column{
  float: left;
  width: 33.33%;
  display: none; /* Esconde todos elementos como default */
}

/* Ao diminuir abaixo de 550px imagens responsivas */
@media screen and (max-width: 550px) {
  .column {
    width: 100%;
  }
}

/* Limpar floats após row */ 
.row-sm:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
  border: 1px solid #ffeb00;
  
}

/* A classe "show" é adicionada aos elementos filtrados(sem ela, nao mostra as imagens) */
.show {
  display: block;
}

/* Estilo dos botoes */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

/* Ao clicar no bota, ficar selecionado */
.btn.active {
  background-color: #666;
  color: white;
}

/* Modal (background) - Quando clicar escurecer a tela */
.modal {
  display: none; /* Esconde por padrao */
  position: fixed; /* Ficar no lugar */
  z-index: 1; /* Se manter no top */
  padding-top: 100px; /* Localizaçao do box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Ativar rolagem, se necessário */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* opacidade escura */
}

/* Modal Content (tamanho imagem) */
.modal-content {
  margin:auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption da Imagem Model (legenda abaixo) */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}


/* Adiciona animação ao abrir a imagem */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* Botao "x" para fechar imagem */
.close {
  position: absolute;
  margin-top: -25px;
  float: right;
  right: 15px;
  color: white;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}


.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

/* 100% de largura da imagem em telas menores */
@media only screen and (max-width: 400px){
  .modal-content {
    width: 100%;
  }
}

/* Parte do Fale Conosco */
div#section4 {
	background-color: #4a4a4a;
	border-radius: 1px;
}

div#section4 h1{
	color: #9a9a9a;
}

div#section4 div#contact p {
	color: #9a9a9a;
}

/* Logo das Redes Sociais */
div#section4 div i.fab {
	font-size:48px;
	border-radius:20px;
}
div#section4 div i#logo {
	color: #6a6a6a;
	cursor: pointer;
}
div#section4 div i#logo:hover {
	color: #393939;
}


/* Parte do Rodapé */
footer.container-fluid {
	background-color: #2a2a2a;
}

footer.container-fluid p {
	color: #6a6a6a;
}
footer.container-fluid a#linkFooter {
	text-decoration: none;
	color: #9a9a9a;
	transition: 0.5s;
}
footer.container-fluid a#linkFooter:hover {
	color: #ffeb00;
	
}
/* Consultas de mídia - Linha do tempo responsiva em telas com menos de 600 px de largura */
@media screen and (max-width: 600px) {
/* Posiciona a timeline na esquerda */
.timeline::after {
	left: 31px;
}

/* Largura total dos conteiners */
.container {
	width: 100%;
	padding-left: 70px;
	padding-right: 25px;
}

/* Verifique se todas as setas estão apontando para a esquerda */
.container::before {
	left: 60px;
	border: medium solid white;
	border-width: 10px 10px 10px 0;
	border-color: transparent white transparent transparent;
}

/* Verifique se todos os círculos estão no mesmo local */
.left::after, .right::after {
	left: 15px;
}

/* Faça com que todos os contêineres certos se comportem como os da esquerda */
.right {
	left: 0%;
}



  