* {
	box-sizing: border-box;
}
body {
	background-color: #2a2a2a;
	font-family: Arial;
}

/* ============== Parte do Menu  ============== */
header nav.navbar {
    background-color: #ffeb00;
    font-size: 13pt;
}
/* Cor do nome NavBar */
header nav.navbar a#nomeNav {
	color: #2a2a2a;
}
/* Cor do mouse sobre o NavBar */
header nav.navbar a#nomeNav:hover {
	color: #5a5a5a;
	
}
/* Cor do mouse sobre os botoes */
header nav.navbar button {
	background-color: #2a2a2a;
}
header nav.navbar button span {
	background-color: #3a3a3a;
}
/* Alinhando os botoes */
header nav.navbar div#myNavbar {
	text-align: center;
}
/* Estilo dos Botoes, sem linha sublinhada e cor */
header nav.navbar div#myNavbar a.col {
	text-decoration:none;
	padding-bottom: 2%;
	color: #6a6a6a;
	border-radius: 5px;
}
/* Borda em volta dos botoes ao passar por cima  */
header nav.navbar div#myNavbar a.col:hover {
	background-color:#6a6a6a;
	color: #ffeb00;
	transition: 2s;
}
/* ================= Parte do Titulo ================== */
/* Cor ao background do Titulo */
div#titulo {
	background-color: #ffeb00;
	border-radius: 1px;
}
/* Estilo do H1 */
div#titulo h1 {
	color: #2a2a2a;
	font-weight: 400;
}
/* ================= Parte do Sobre ===================== */
/* Cor do fundo do sobre */
div#section1 {
	background-color: #2a2a2a;
}
/* Cor das Letras */
div#section1 div.row h2, p, h1 {
	color: white;
}
/* Cor e tamanho das estrelas - CONSERTAR!!!!!!*/
/* div#section1 div.row i.fa {
	font-size:15px;
	color: #ffeb00;
} */